extends layout

include mixins/_hotel
include mixins/_country_list

block content

  div.outer_wrapper
    div.hotel_wrapper
      h2 Hotels 
        a(href="/all") (see all):
      ul
        each hotel in filteredHotels
          +hotel(hotel)
    .country_wrapper
      h2 Countries 
        a(href="/countries") (See all):
      ul
        each country in filteredCountries
          +countryList(country._id)